@use '../util/functions' as f;
@use '../util/' as u;

.about {
    margin-top: 50px;
    background-image: white !important;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;


    @include u.maior-que(lg) {
        padding-inline: 25px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    @include u.maior-que(lg) {
        padding-inline: 50px;
    }

    @include u.maior-que(xl) {
        padding-inline: 80px;
    }
    @include u.maior-que(xxl) {
        padding-inline: 150px;
    }
    
    @include u.maior-que(xxxl) {
        padding-inline: 300px;
    }
    

    &__left {

        &--img {
            height: 300px;
            max-width: 100vw;
            padding-inline: 20px;
            margin-bottom: 50px;
            border-radius: 35px; 
            object-fit: cover; 

            @include u.maior-que(lg) {
                margin-bottom: 0;
            }
        }
    }

    &__right {
        width: 100%;
        max-width: 100vw;
        padding-inline: 20px;
        color: var(--purple-dark);

        h1{
            font-weight: 800;
            font-size: clamp(f.to-rem(22), f.to-rem(16) + 4vw, f.to-rem(36));
            line-height: 1.1;
            max-width: f.to-rem(600);
            
            margin-bottom: f.to-rem(20);
        }

        h4 {
            font-weight: 300;
            font-size: clamp(f.to-rem(16), f.to-rem(12) + 1vw, f.to-rem(20));
            line-height: 1.6;
            max-width: f.to-rem(600);
        }

        
        
        @include u.maior-que(md) {
            margin-left: 50px;
            
        }
    }

}

