:root {
  /* THEME COLORS */
  --purple-dark:   #9926f0;    /* Cor Primária (Destaque) */
  --purple-light:  #BB6EF5;    /* Cor Secundária (Destaque Suave) */
  --pink:          #d122e3;    /* Cor Terciária (Ação/Contraste) */
  --footer:        #151414;    /* Fundo Escuro (Rodapé, Dark Mode) */
  --neutral-light: #FAFAFA;    /* Fundo Principal Claro (Base do Site) */
  --text-dark:     #1F2937;    /* Cor de Texto Principal (Legibilidade) */
  --text-light:    #FFFFFF;    /* Cor de Texto Inversa (Fundos Escuros) */
  --black:        #000;

  --primary:       var(--purple-dark);
  --secondary:     var(--pink);
}
