@use 'sass:math';

// converts px to rem
@function to-rem($pixel) {
    @if math.is-unitless($pixel){
        @return math.div($pixel, 16)+rem;   
    }
    @else{
        @error 'Dont use units when using the to-rem() function, only plain numbers';
    }
}

// converts px to em
@function to-em($pixel) {
    @if math.is-unitless($pixel){
        @return math.div($pixel, 16)+em;   
    }
    @else{
        @error 'Dont use units when using the to-rem() function, only plain numbers';
    }
}