@use '../util' as u;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    /* permite que a gente defina um tamanho minimo, uma progressao de tamanho para a fonta e tambem um tamanho minimo*/
    font-size: clamp(u.to-rem(28), u.to-rem(16) + 2vw, u.to-rem(40)); 
    //font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem); 
}

h2 {
    /* permite que a gente defina um tamanho minimo, uma progressao de tamanho para a fonta e tambem um tamanho minimo*/
    font-size: clamp(u.to-rem(22), u.to-rem(14) + 1.5vw, u.to-rem(36)); 
    //font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25rem); 
}

p {
    margin-top: 0;
    font-size: u.to-rem(16);
}

a, a:visited, a:active {
    text-decoration: none;
}