@use '../util/functions' as f;
@use '../util/' as u;

.contact {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 50px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    background-color: var(--text-dark);
    color: var(--text-light);
    


    @include u.maior-que(lg) {
        padding-inline: 25px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    @include u.maior-que(xl) {
        padding-inline: 80px;
    }
    @include u.maior-que(xxl) {
        padding-inline: 150px;
    }
    
    @include u.maior-que(xxxl) {
        padding-inline: 300px;
    }
    

    &__left {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include u.maior-que(lg) {
            margin-right: 30px;
        }

        
        color: var(--purple-dark);

        h1{
            font-weight: 800;
            font-size: clamp(f.to-rem(22), f.to-rem(16) + 4vw, f.to-rem(36));
            line-height: 1.1;
            font-family: "Montserrat", sans-serif;
            max-width: f.to-rem(600);
            color: var(--text-light);
            margin-bottom: f.to-rem(20);
        }

        h4 {
            font-weight: 300;
            font-size: clamp(f.to-rem(16), f.to-rem(12) + 1vw, f.to-rem(20));
            line-height: 1.6;
            font-family: "Inter", sans-serif;
            color: var(--text-light);
            max-width: f.to-rem(600);
        }

    }

        
    

    &__right {
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--text-light);
        color: var(--text-dark);
        text-align: center;
        padding: 40px;

        @include u.maior-que(xl) {
            width: 900px;
            
        }

        h3{
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
        }

        h5 {
            font-family: "Inter", sans-serif;
            font-weight: 600;
        }

        button {
            width: 100%;
            height: 50px;
            padding: 10px 0;
            border-radius: 12px;
            font-family: "Inter", sans-serif;
            font-weight: 700;

            -webkit-appearance: none;
            appearance: none;
            outline: none;
            box-shadow: none;
            border: none;
            background-color: var(--text-dark);
            color: var( --text-light);
            font-size: clamp(f.to-rem(10), f.to-rem(8) + 0.8vw, f.to-rem(22));
            font-weight: bold;
            transition: all 0.3s ease-in-out;
        }
        button:hover {
            cursor: pointer;
            background-color: var(--purple-dark);
        }
    }
        

}