@use '../util/functions' as f;
@use '../util/' as u;

.faq{
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    h1 {
        font-family: "Montserrat" , sans-serif;
    }

    .chevron {
        transition: transform .2s linear;
        width: 20px;
    }

    &__accordion:has(.active) .chevron {
        transform: rotate(180deg);
    }

    &__accordion  {
        background-color: #fff;
        width: 340px;
        border-radius: 8px;
        padding: 25px 10px;
        border: 1px solid;
        border-color: var(--purple-dark);
        cursor: pointer;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

        @include u.maior-que(md) {
            width: 550px;
        }

        @include u.maior-que(lg) {
            width: 700px;
        }

        @include u.maior-que(xl) {
            width: 900px;
        }

        @include u.maior-que(xxl) {
            width: 1200px;
        }

        &--header {
            width: 100%;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: clamp(f.to-rem(12), f.to-rem(10) + 1vw, f.to-rem(18));
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            cursor: pointer;
        }

        &--header span{
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--purple-dark);
        }

        &--body {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.4s ease, padding 0.4s ease, opacity 0.3s;
            overflow: hidden;
            opacity: 0;          
            padding: 0 10px;   
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: clamp(f.to-rem(8), f.to-rem(8) + 1vw, f.to-rem(16));

            &.active {
                grid-template-rows: 1fr;
                opacity: 1; 
                padding: 10px 10px;
            }

            p {
                min-height: 0;   
                margin: 0;   
            }
        }



    }
}